*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.header{
    text-align: center;
    margin: auto;
} */

.form{
    width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 6px;
}

form{
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.form-group{
   /* flex: 1 1 100px; */
    width: 200px;
}

/* .head h1{
    padding-left: 100px;
} */

input{
    padding: 6px;
    width: 100%;
    margin-bottom: 10px;

}

label{
    display: block;
    margin-bottom: 3px;
}

input[type="submit"]{
    border: none;
    width: 80px;
    padding: 7px 23px;
    border-radius: 6px;
    background-color: rgb(79, 56, 184);
    color: white;


}
.submit{
    padding-left: 90px;
    text-align: center;
}

select{
    padding: 5px;
    width: 50%;
}

input[type="submit"]:hover{
    background-color: rgb(46, 14, 136);
}
